@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "poppins";
    font-style: normal;
    font-weight: 100;
    src: url("./Fonts/Poppins/Poppins-Thin.ttf");
    src: url("./Fonts/Poppins/Poppins-ThinItalic.ttf");
}

@font-face {
    font-family: "poppins";
    font-style: normal;
    font-weight: 200;
    src: url("./Fonts/Poppins/Poppins-ExtraLight.ttf");
    src: url("./Fonts/Poppins/Poppins-ExtraLightItalic.ttf");
}

@font-face {
    font-family: "poppins";
    font-style: normal;
    font-weight: 300;
    src: url("./Fonts/Poppins/Poppins-Light.ttf");
    src: url("./Fonts/Poppins/Poppins-LightItalic.ttf");
}

@font-face {
    font-family: "poppins";
    font-style: normal;
    font-weight: 400;
    src: url("./Fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
    font-family: "poppins";
    font-style: normal;
    font-weight: 500;
    src: url("./Fonts/Poppins/Poppins-Medium.ttf");
    src: url("./Fonts/Poppins/Poppins-MediumItalic.ttf");
}

@font-face {
    font-family: "poppins";
    font-style: normal;
    font-weight: 600;
    src: url("./Fonts/Poppins/Poppins-SemiBold.ttf");
    src: url("./Fonts/Poppins/Poppins-SemiBoldItalic.ttf");
}

@font-face {
    font-family: "poppins";
    font-style: normal;
    font-weight: 700;
    src: url("./Fonts/Poppins/Poppins-Bold.ttf");
    src: url("./Fonts/Poppins/Poppins-BoldItalic.ttf");
}

@font-face {
    font-family: "poppins";
    font-style: normal;
    font-weight: 800;
    src: url("./Fonts/Poppins/Poppins-ExtraBold.ttf");
    src: url("./Fonts/Poppins/Poppins-ExtraBoldItalic.ttf");
}

@font-face {
    font-family: "poppins";
    font-style: normal;
    font-weight: 900;
    src: url("./Fonts/Poppins/Poppins-Black.ttf");
    src: url("./Fonts/Poppins/Poppins-BlackItalic.ttf");
}

html{
    font-family: "poppins";
    scroll-behavior: smooth;
}